<div class="jumbotron">
  <h1>About</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>About 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>About 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h3>About 3</h3>        
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
</div>