<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>This is an AngularJS app that utilizes modules for injection control.</p>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Main 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Main 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Main 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
</div>